accelerate==1.4.0
bitsandbytes==0.45.3
image-reward
datasets==3.3.2
diffusers==0.33.1
fairscale==0.4.13
Flask==3.1.1
gradio==5.33.2
huggingface_hub==0.32.1
modules==1.0.0
numpy
packaging==25.0
peft==0.10.0
Pillow==11.2.1
PyYAML==6.0.2
PyYAML==6.0.2
setuptools==78.1.1
tensorboardX==2.6.4
timm==0.6.13
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
transformers==4.51.1
wandb==0.20.1
xformers==0.0.29.post2
gunicorn

clip @ git+https://github.com/openai/CLIP.git